{
  "openapi": "3.0.1",
  "info": {
    "title": "HyperBrowser API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.hyperbrowser.ai",
      "description": "Production server"
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/session": {
      "post": {
        "summary": "Create new session",
        "responses": {
          "200": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "active",
                        "closed",
                        "error"
                      ]
                    },
                    "startTime": {
                      "type": "string",
                      "format": "timestamp-milliseconds",
                      "nullable": true
                    },
                    "endTime": {
                      "type": "string",
                      "format": "timestamp-milliseconds",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "iso8601"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "iso8601"
                    },
                    "closeReason": {
                      "type": "string",
                      "nullable": true
                    },
                    "dataConsumed": {
                      "type": "string"
                    },
                    "sessionUrl": {
                      "type": "string"
                    },
                    "wsEndpoint": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/session/{id}": {
      "get": {
        "summary": "Get session by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "active",
                        "closed",
                        "error"
                      ]
                    },
                    "startTime": {
                      "type": "string",
                      "format": "timestamp-milliseconds",
                      "nullable": true
                    },
                    "endTime": {
                      "type": "string",
                      "format": "timestamp-milliseconds",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "iso8601"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "iso8601"
                    },
                    "closeReason": {
                      "type": "string",
                      "nullable": true
                    },
                    "dataConsumed": {
                      "type": "string"
                    },
                    "sessionUrl": {
                      "type": "string"
                    },
                    "wsEndpoint": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/session/{id}/stop": {
      "put": {
        "summary": "Stop a session",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session stopped successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/sessions": {
      "get": {
        "summary": "Get list of sessions",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "number",
              "required": [
                "false"
              ],
              "default": 1
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "closed",
                "error"
              ],
              "required": [
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "closed",
                              "error"
                            ]
                          },
                          "startTime": {
                            "type": "string",
                            "format": "timestamp-milliseconds",
                            "nullable": true
                          },
                          "endTime": {
                            "type": "string",
                            "format": "timestamp-milliseconds",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "iso8601"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "iso8601"
                          },
                          "closeReason": {
                            "type": "string",
                            "nullable": true
                          },
                          "dataConsumed": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "number",
                      "example": 100
                    },
                    "page": {
                      "type": "number",
                      "example": 1
                    },
                    "pageSize": {
                      "type": "number",
                      "example": 10
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}