{
  "openapi": "3.0.1",
  "info": {
    "title": "HyperBrowser API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.hyperbrowser.ai",
      "description": "Production server"
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/session": {
      "post": {
        "summary": "Create new session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "proxyServer": {
                    "type": "string"
                  },
                  "proxyServerPassword": {
                    "type": "string"
                  },
                  "proxyServerUsername": {
                    "type": "string"
                  },
                  "proxyCountry": {
                    "type": "string",
                    "enum": [
                      "US",
                      "GB",
                      "CA"
                    ],
                    "default": "US"
                  },
                  "operatingSystems": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "windows",
                        "android",
                        "macos",
                        "linux",
                        "ios"
                      ]
                    }
                  },
                  "device": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "desktop",
                        "mobile"
                      ]
                    }
                  },
                  "platform": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "chrome",
                        "firefox",
                        "safari",
                        "edge"
                      ]
                    }
                  },
                  "locales": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "en",
                        "es",
                        "fr"
                      ]
                    },
                    "default": [
                      "en"
                    ]
                  },
                  "screen": {
                    "type": "object",
                    "properties": {
                      "maxWidth": {
                        "type": "number",
                        "maximum": 4096,
                        "default": 1280
                      },
                      "maxHeight": {
                        "type": "number",
                        "maximum": 4096,
                        "default": 720
                      },
                      "minWidth": {
                        "type": "number",
                        "minimum": 360,
                        "default": 800
                      },
                      "minHeight": {
                        "type": "number",
                        "minimum": 360,
                        "default": 480
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "active",
                        "closed",
                        "error"
                      ]
                    },
                    "startTime": {
                      "type": "string",
                      "format": "timestamp-milliseconds",
                      "nullable": true
                    },
                    "endTime": {
                      "type": "string",
                      "format": "timestamp-milliseconds",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "iso8601"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "iso8601"
                    },
                    "closeReason": {
                      "type": "string",
                      "nullable": true
                    },
                    "dataConsumed": {
                      "type": "string"
                    },
                    "sessionUrl": {
                      "type": "string"
                    },
                    "wsEndpoint": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/session/{id}": {
      "get": {
        "summary": "Get session by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "active",
                        "closed",
                        "error"
                      ]
                    },
                    "startTime": {
                      "type": "string",
                      "format": "timestamp-milliseconds",
                      "nullable": true
                    },
                    "endTime": {
                      "type": "string",
                      "format": "timestamp-milliseconds",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "iso8601"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "iso8601"
                    },
                    "closeReason": {
                      "type": "string",
                      "nullable": true
                    },
                    "dataConsumed": {
                      "type": "string"
                    },
                    "sessionUrl": {
                      "type": "string"
                    },
                    "wsEndpoint": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/session/{id}/stop": {
      "put": {
        "summary": "Stop a session",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session stopped successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/sessions": {
      "get": {
        "summary": "Get list of sessions",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "number",
              "required": [
                "false"
              ],
              "default": 1
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "closed",
                "error"
              ],
              "required": [
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "closed",
                              "error"
                            ]
                          },
                          "startTime": {
                            "type": "string",
                            "format": "timestamp-milliseconds",
                            "nullable": true
                          },
                          "endTime": {
                            "type": "string",
                            "format": "timestamp-milliseconds",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "iso8601"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "iso8601"
                          },
                          "closeReason": {
                            "type": "string",
                            "nullable": true
                          },
                          "dataConsumed": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "number",
                      "example": 100
                    },
                    "page": {
                      "type": "number",
                      "example": 1
                    },
                    "pageSize": {
                      "type": "number",
                      "example": 10
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scrape": {
      "post": {
        "summary": "Create new scrape job",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scrape job created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scrape/{id}": {
      "get": {
        "summary": "Get scrape job status and result",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scrape job details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "running",
                        "completed",
                        "failed"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}